<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>

</head>
<body>
    <header class="home__header">
        <article class="home__header__title">
        <div class="home__header__img--logo">
            <img src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
        </div>
        <div class="home__header__busca">
            <input class="home__header__barra" type="text" name="search" placeholder="Buscar productos, marcas">
            <button class="home__header__lupa"><i class="fas fa-search"></i></button>
        </div>
        <div>
            <section class="home__header__cuota">
                <h3><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h3>
                </section>
        </div> </article>
        
        <nav class="home__header__menu">
        <ul>
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
        </ul>
    
        <ul>
            <li>Creá tu cuenta <i class="fas fa-address-card"></i></i></li>
            <li>Ingresá <i class="fas fa-sign-in-alt"></i></li>
            <li>Mis compras <i class="fas fa-shopping-basket"></i></li>
          </ul>
        </nav>
        <div class="home__header__bar"><a class="home__header__a--bar" href="">
            <i class="fa fa-bars"></i></a>  </div>
    
        </header>
        <main class="registro__main">
                <div class="registro__main--datos">
                    <input class="login--dato" type="text" name="nombre" id="text" placeholder="Nombre y Apellido">

                    <input class="login--dato" type="text" name="usuario" id="text" placeholder="Nombre de usuario">

                    <input class="login--dato" type="email" name="correo" id="correo" placeholder="E-mail">
                    </div>
            <h4>Fecha de Nacimiento</h4>
                <div class="registro__main--fecha">
                    <input class="login--dato" type="date" name="fecha" value="aaaa-mm-dd" min="2018-01-01" max="2022-12-31">

                    <input class="login--dato" type="text" name="domicilio" id="text" placeholder="Domicilio">
                </div>
            <h4>Pefil del usuario</h4>
                <div class="registro__radios"><input type="radio" name="comprador" value="text" />
                    <p>Comprador</p>
                <input type="radio" name="vendedor" value="text" />
                    <p>Vendedor</p></div>
            <h4>Intereses</h4>
                <div class="registro__intereses"><input type="checkbox" name="intereses" value="text" />
                    <p>Electro</p></div>
                <div class="registro__intereses"><input type="checkbox" name="intereses" value="text" />
                    <p>Moda</p></div>
                <div class="registro__intereses"><input type="checkbox" name="intereses" value="text" />
                    <p>Hogar</p></div>
                <div class="registro__intereses"><input type="checkbox" name="intereses" value="text" />
                    <p>Jugueteria</p></div>                
                <div class="registro__intereses"><input type="checkbox" name="intereses" value="text" />
                    <p>Vida Sana</p></div>

        </main>
        <footer>
            <article class="footer__article__end">
                <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo </h3>
                <p>Con Mercado Liebre Cash tenés cuotas sin</p>
                <p>interés con tarjeta o efectivo en puntos de</p>
                <p>pago. ¡Y siempre es seguro! </p> 
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500 </h3>
                <p>Solo por estar registrad@ en MercadoLiebre</p>
                <p>tenés envíos gratis en miles de productos. Es</p>
                <p>un beneficio de Mercado Puntos. </p> 
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad de principio a fin </h3>
                <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre</p>
                <p>no hay nada que no puedas hacer porque</p>
                <p>estás siempre protegid@.</p> 
            </article>
           
        
            <nav class="footer__nav">
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3> 
        </nav>
        </footer>
    
</body>
</html>