.login__main {
    background-color: var(--colorGrisClaro);
    width: 100%;
    padding: 5%;
}
.login__main--usuario{
    text-align: center;
}
.login--dato {
    width: 60%;
    background: var(--colorGrisClaro);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 7px;
    border: 1px solid var(--colorGrisOscuro);
    font-size: 20px;
}

.login__main--sesion {
    text-align: center;
}
.login__main--buton{
    width: 80%;
    background-color: var(--colorCeleste);
    border: none;
    border-radius: 5%;
    color: var(--colorGrisClaro);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;;
    font-size: 20px;
    
    }